<div class="card mb-3">
  <h2 class="card-header h4">
    Reading #<%= reading.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Brain oxygen level</dt>
      <dd>
        <% if @reading.patient.present? %>
          <%= link_to reading.patient, reading.patient %>
        <% end %>
      </dd>

      <dt>Time</dt>
      <dd><%= reading.time %></dd>

      <dt>Date</dt>
      <dd><%= reading.date %></dd>

      <dt>Feeling</dt>
      <dd><%= reading.feeling %></dd>

      <dt>Self image</dt>
      <dd>
        <%= cl_image_tag @reading.self_image, class: "img-fluid" %>
      </dd>

      <dt>User name</dt>
      <dd><%= reading.user_name %></dd>

      <dt>Brain pressure level</dt>
      <dd><%= reading.brain_pressure_level %></dd>

      <dt>Brain temperature level</dt>
      <dd><%= reading.brain_temperature_level %></dd>

      <dt>Physician</dt>
      <dd>
        <% if @reading.physician.present? %>
          <%= link_to reading.physician, reading.physician %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back reading, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @reading.patient %>
          <%= link_to edit_reading_url(reading), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @reading.patient %>
          <%= link_to reading, method: :delete, data: { confirm: "Do you really want to delete this reading?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(reading.updated_at) %> ago
  </div>
</div>
