<% was_validated = reading.errors.any? %>

<%= form_with(model: reading, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :brain_oxygen_level, value: current_user.id %>
  <div class="form-group">
    <% time_class = "form-control" %>
    <% time_was_invalid = reading.errors.include?(:time) %>

    <% if was_validated %>
      <% if time_was_invalid %>
        <% time_class << " is-invalid" %>
      <% else %>
        <% time_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :time %>
    <%= f.time_select :time, class: time_class, placeholder: "Enter time" %>
    <% if time_was_invalid %>
      <% reading.errors.full_messages_for(:time).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% date_class = "form-control" %>
    <% date_was_invalid = reading.errors.include?(:date) %>

    <% if was_validated %>
      <% if date_was_invalid %>
        <% date_class << " is-invalid" %>
      <% else %>
        <% date_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :date %>
    <%= f.date_select :date, class: date_class, placeholder: "Enter date" %>
    <% if date_was_invalid %>
      <% reading.errors.full_messages_for(:date).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% feeling_class = "form-control" %>
    <% feeling_was_invalid = reading.errors.include?(:feeling) %>

    <% if was_validated %>
      <% if feeling_was_invalid %>
        <% feeling_class << " is-invalid" %>
      <% else %>
        <% feeling_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :feeling %>
    <%= f.text_area :feeling, class: feeling_class, placeholder: "Enter feeling" %>
    <% if feeling_was_invalid %>
      <% reading.errors.full_messages_for(:feeling).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% self_image_class = "form-control" %>
    <% self_image_was_invalid = reading.errors.include?(:self_image) %>

    <% if was_validated %>
      <% if self_image_was_invalid %>
        <% self_image_class << " is-invalid" %>
      <% else %>
        <% self_image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :self_image %>
    <%= f.text_field :self_image, class: self_image_class, placeholder: "Enter self image" %>
    <% if self_image_was_invalid %>
      <% reading.errors.full_messages_for(:self_image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% user_name_class = "form-control" %>
    <% user_name_was_invalid = reading.errors.include?(:user_name) %>

    <% if was_validated %>
      <% if user_name_was_invalid %>
        <% user_name_class << " is-invalid" %>
      <% else %>
        <% user_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_name %>
    <%= f.text_field :user_name, class: user_name_class, placeholder: "Enter user name" %>
    <% if user_name_was_invalid %>
      <% reading.errors.full_messages_for(:user_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% brain_pressure_level_class = "form-control" %>
    <% brain_pressure_level_was_invalid = reading.errors.include?(:brain_pressure_level) %>

    <% if was_validated %>
      <% if brain_pressure_level_was_invalid %>
        <% brain_pressure_level_class << " is-invalid" %>
      <% else %>
        <% brain_pressure_level_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :brain_pressure_level %>
    <%= f.text_field :brain_pressure_level, class: brain_pressure_level_class, placeholder: "Enter brain pressure level" %>
    <% if brain_pressure_level_was_invalid %>
      <% reading.errors.full_messages_for(:brain_pressure_level).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% brain_temperature_level_class = "form-control" %>
    <% brain_temperature_level_was_invalid = reading.errors.include?(:brain_temperature_level) %>

    <% if was_validated %>
      <% if brain_temperature_level_was_invalid %>
        <% brain_temperature_level_class << " is-invalid" %>
      <% else %>
        <% brain_temperature_level_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :brain_temperature_level %>
    <%= f.text_field :brain_temperature_level, class: brain_temperature_level_class, placeholder: "Enter brain temperature level" %>
    <% if brain_temperature_level_was_invalid %>
      <% reading.errors.full_messages_for(:brain_temperature_level).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% physician_class = "form-control" %>
    <% physician_was_invalid = reading.errors.include?(:physician) %>

    <% if was_validated %>
      <% if physician_was_invalid %>
        <% physician_class << " is-invalid" %>
      <% else %>
        <% physician_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :physician_id %>
    <%= f.collection_select :physician_id, Physician.all, :id, :to_s, {}, class: "form-control" %>
    <% if physician_was_invalid %>
      <% reading.errors.full_messages_for(:physician).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
