<%= form_with(model: @reading, local: true) do |f| %>

  <%= f.hidden_field :brain_oxygen_level, value: @user.id %>

  <div class="form-group">
    <%= f.label :time %>

    <%= f.date_select :time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date %>

    <%= f.date_select :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :feeling %>
    <%= f.text_area :feeling, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :self_image %>

    <%= f.text_field :self_image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user_name %>

    <%= f.text_field :user_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>

    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>

    <%= f.text_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :brain_pressure_level %>

    <%= f.text_field :brain_pressure_level, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :brain_temperature_level %>

    <%= f.text_field :brain_temperature_level, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :physician_id %>

    <%= f.collection_select :physician_id, Physician.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create reading", class: "btn btn-block btn-outline-secondary" %>
<% end %>
