<%= form_with(model: @demographic, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :email %>

    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>

    <%= f.text_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user_name %>

    <%= f.text_field :user_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :disease_name %>

    <%= f.text_field :disease_name, class: "form-control" %>
  </div>

  <%= f.hidden_field :disease_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :date_diagnosed %>

    <%= f.date_select :date_diagnosed, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :time_diagnosed %>

    <%= f.date_select :time_diagnosed, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description_of_illness %>
    <%= f.text_area :description_of_illness, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create demographic", class: "btn btn-block btn-outline-secondary" %>
<% end %>
