<div class="card mb-3">
  <h2 class="card-header h4">
    Demographic #<%= demographic.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User name</dt>
      <dd><%= demographic.user_name %></dd>

      <dt>Disease name</dt>
      <dd><%= demographic.disease_name %></dd>

      <dt>Disease</dt>
      <dd><%= demographic.disease_id %></dd>

      <dt>Date diagnosed</dt>
      <dd><%= demographic.date_diagnosed %></dd>

      <dt>Time diagnosed</dt>
      <dd><%= demographic.time_diagnosed %></dd>

      <dt>Description of illness</dt>
      <dd><%= demographic.description_of_illness %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back demographic, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_demographic_url(demographic), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to demographic, method: :delete, data: { confirm: "Do you really want to delete this demographic?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(demographic.updated_at) %> ago
  </div>
</div>
