<%= form_with(model: @physician, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :email %>

    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>

    <%= f.text_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user_name %>

    <%= f.text_field :user_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :patient %>

    <%= f.text_field :patient, class: "form-control" %>
  </div>

  <%= f.hidden_field :patient_id, value: @demographic.id %>

  <div class="form-group">
    <%= f.label :hospital_id %>

    <%= f.text_field :hospital_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :hospital_name %>

    <%= f.text_field :hospital_name, class: "form-control" %>
  </div>

  <%= f.submit "Create physician", class: "btn btn-block btn-outline-secondary" %>
<% end %>
